.gallery img{
    width: 100%;
}
#menu{
    width: 100%;
    height: 40px;
    background-color:black;
    padding-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    border-radius:8px;
    background-color: black;
    box-shadow: 0 0 10px #00f0ff,0 0 20px #00f0ff;
    transition: box-shadow 0.3s ease;
    color: cornflowerblue;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    font-style: helvetica; sans-serif;
    

}
#menu a{
    color: cornflowerblue;
    text-align: center;
    text-decoration: none;
    font-style: helvetica; sans-serif;
    font-size: 20px;
    font-weight: 800;
    padding-left: 150px;
    padding-right: 150px;
    
}
#menu a:hover{
      display: inline-block;
    padding: 150x 150px;
    border-radius:8px;
    background-color: black;
    box-shadow: 0 0 10px #00f0ff,0 0 20px #00f0ff;
    transition: box-shadow 0.5s ease;
    color: black;
    font-size: 30px;
    background-image:url(A.IMAGE/Avengers.bg.png);
}
h1{
    display: inline-block;
    padding: 10px 20px;
    border-radius:8px;
    background-color: black;
    box-shadow: 0 0 10px #00f0ff,0 0 20px #00f0ff;
    transition: box-shadow 0.3s ease;
    color: cornflowerblue;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    font-style: helvetica; sans-serif;
    
}
body{
    background-color: black;
    color: cornflowerblue;
    margin:0;
    padding:0;
    

}
.image-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #00f0ff,0 0 20px #00f0ff;
    transition: box-shadow 0.3s ease;
}
.image-gallery img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px #00f0ff,0 0 20px #00f0ff;
    transition: box-shadow 0.3s ease;
}
#header{
    text-align: center;
    background-image:url(A.IMAGE/Avengers.bg.png);
    background-repeat: repeat-x;

}
.logo{
    display: inline-block;
    
}  


